
<h1>new comment {{user.name}}</h1>
    <a href="/new-comment" id="new-comment">New comment</a>
    <button id="new-comment">New Comment</button>
    <div id="blog-container">
        <h3>Your Posts</h3>
      {{#if user.articles.length}}
      {{#each user.articles}}
        <hr>
          <a  href="/edit-article/{{id}}">
           <h5>{{title}}</h5>
            </a>
           <p>{{content}}</p>
           <p>{{date_created}}</p>
    


        {{/each}}   
        {{else}}
        <h4>You haven't written anything yet. When you do it will be posted here for you to view and update</h4> 
        {{/if}}
    </div>