{{!-- Dashboard.handlebars - I am taken to the dashboard and presented with any blog posts I have already created and the option to add a new blog post --}}

<h1>Dashboard</h1>
    <button id="logout">Logout</button>
    <button id="new-blog">New Blog</button>
    <button id="new-comment">New Comment</button>
    <div id="blog-container">
        {{#each articles}}
            <div class="blog">
                <h2>{{title}}</h2>
                <p>{{content}}</p>
                <p>{{date_created}}</p>
                <button class="delete-blog" data-id="{{id}}">Delete</button>
                <button class="update-blog" data-id="{{id}}">Update</button>
            </div>
        {{/each}}    