{{!-- Dashboard.handlebars - I am taken to the dashboard and presented with any blog posts I have already created and the option to add a new blog post --}}

<h1>Dashboard</h1>
    <a href="/new-article" id="new-article">New Article</a>
    <button id="new-comment">New Comment</button>
    <div id="blog-container">
        {{#each articles as |article|}}
            <div class="blog">
                <h2>{{article.title}}</h2>
                <p>{{article.content}}</p>
                <p>{{article.date_created}}</p>
                <button class="delete-blog" data-id="{{article.id}}">Delete</button>
                <button class="update-blog" data-id="{{article.id}}">Update</button>
            </div>
        {{/each}}    
    </div>