<h1>Read and add comments</h1>
<br>
<br>
<br>

 <div class="text-center">
  <h2>{{articles.title}}</h2>
  <p>{{articles.content}}</p>
  <p>Written by {{articles.author}}</p>
  <p>Created on {{articles.date_created}}</p>
</div> 
<br>
<br>
<div class="text-center">
  <h2>Comments</h2>
  {{!-- display each comment for this specific article --}}
{{#each articles.comments}}
<div>
  <p>{{description}}</p>
  {{/each}}
</div>
 
</div>

<br>
<br>
{{!-- add a field to post a new comment to the current article --}}

<div class="new comment">New comment</div>
<br>
    {{!-- <textarea name="comment" class="article-comment" id="updateCommentArea">{{comment.description}}</textarea>
    <button type="submit" data-id="{{comment.id}}" class="post-comment-btn">submit</button> --}}
        <form class="new-comment-form">
        {{!-- <div class="form-group"> --}}
            {{!-- <label for="title">Title:</label> --}}
            {{!-- <input type="text" id="title" name="title" required> --}}
        {{!-- </div> --}}
        <div class="form-group">
            <label for="content">Comment:</label>
            <textarea id="comment" name="comment" required></textarea>
        </div>
        <button type="submit">Submit</button>
    </form>
    
    <script src="/JS/newComment.js"></script>