{{!-- <div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed
  </p>
  <p>
    <button class="btn btn-primary">Fund this Project!</button>
  </p>
</div> --}}


{{!-- Purpose: this page is for displaying a single article that was clicked on from the homepage. --}}
{{!-- Purpose: this page will need to display the article and have a textfield to input a comment that is attached to that article as well as a button to add the comment --}}

 <div class="text-center">
  <h2>{{articles.title}}</h2>
  <p>{{articles.content}}</p>
  <p>Written by {{articles.author}}</p>
</div> 

<p>single-article page is rendering</p>